.terminal-cursor {
    display: inline-block;
    width: 10px;
    height: 24px;
    margin-bottom: 4px;
    background-color: black;
    animation: cursor-blink 0.7s infinite;
  }
  
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  #typing-animation {
    opacity: 0;
    display: inline-block;
    font-size: 24px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    border-right: 10px solid black;
    animation: blink-caret .75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }
  
  
  
  
  
  
  