body {
    font-family: 'Ubuntu Mono', monospace;
    color: antiquewhite;
    background: #191825;
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0 2em 0;
    justify-content: center;
    z-index: 999;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

ul {
    margin-bottom: 0;
}

.nav-list li {
    display: inline;
    font-size: x-large;
    padding: 0 1em;
}

.profile-pic {
    display: inline-block;
    width: 360px;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
}

.inicio-container {
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
}

.presentation-container {
    text-align: center;
}

.presentation {
    display: inline-block;
    vertical-align: middle;
}

.habilidades-container {
}
